@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    
    <a href="https://localhost:7208/Students">Add Students</a>
    <a href="https://localhost:7208/Subjects">Add Subjects</a>
    <a href="https://localhost:7208/Grades  ">Add Grades</a>

=======
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://localhost:7208/Grades">Grades</a>.</p>
>>>>>>> 8822f4abcd7cb05dbba53f4a283da55bb9cd3478
</div>
