@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://localhost:7208/Grades">Grades</a>.</p>
    <p>Learn about <a href="https://localhost:7208/Subjects">Subjects</a>.</p>
    <p>Learn about <a href="https://localhost:7208/Students">Students</a>.</p>
    <p>Learn about <a href="/TeacherHome/Subject">Teachers</a>.</p>
</div>
