@{
    ViewData["Title"] = "Home Page";
    
}

<Head>
    
    <a asp-controller="Login" asp-action="Index">Log In</a>

</br>
	<a asp-controller="Login" asp-action="LogOut">Log out</a>
    </br>
    <a asp-controller="Login" asp-action="SignUp">Sign up</a>
</Head>
