@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    foreach (var item in Model)
    {

        <a asp-action="Index" asp-route-id="@item.ID">Select @item.Name | @item.ID</a>
        <br>

    }
}
