@model IEnumerable<MvcDnevnik.Models.SubjectGrade>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>



</div>


<table>
    
    @foreach (var item in Model.Select(s => new {Subject = s.Subject, SubjectId = s.SubjectId}).Distinct())
    {
        <tr>
            <td>
                @item.Subject
            </td>
            <td>
                @foreach (var test in Model.Where(m => m.SubjectId == item.SubjectId).Select(m => m.Grade))
                {
                    @test
                }
            </td>

        </tr>
}

</table>